nav {
  margin-top: 10px;
  height: 45px;
  display: flex;
}
.input-icon {
  width: 420px;
  height: 50px;
  background-color: #e9e9e8;
}
nav li {
  font-size: 14px;
}
.block {
  margin-right: 4px;
}
.categories {
  margin-left: 20px;
}

.search {
  color: red;
}
nav input::placeholder {
  font-size: 14px;
}
.nav li {
  font-size: 16px;
}

.navlist li {
  margin-left: 20px;
}

.cart {
  margin-right: 40px;
  color: gray;
  font-size: 20px;
}

.loginbtn {
  height: 50px;
  width: 85px;
  background-color: white;
  color: gray;
  border-radius: black 4px;
  font-weight: bold;
  margin-right: 10px;
}
.loginbtn:hover {
  color: black;
}
.signupbtn {
  height: 50px;
  width: 85px;
  background-color: #f65250;

  margin-right: 10px;
  color: white;

  border: thin;
  border-radius: 3px;
  font-weight: bold;
}
.signupbtn:hover {
  background-color: #ab3c3a;
}

@media (max-width: 768px) {
  .loginbtn {
    height: 30px;
    width: 70px;
  }
  .nav li {
    font-size: 30px;
  }
  .logoimg {
    width: 80px;
    height: 40px;
    margin-bottom: 12px;
  }
}
